[supervisorctl]


[supervisord]
nodaemon=false

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

{% if supervisor_webserver|bool %}
[inet_http_server]
port={{ supervisor_webserver_port }}
{% if supervisor_webserver_username|bool %}
username={{ supervisor_webserver_username }}
password={{ supervisor_webserver_password }}
{% endif %}
{% endif %}

[program:galaxy_web]
command         = {{ galaxy_venv_dir }}/bin/uwsgi --virtualenv {{ galaxy_venv_dir }} --ini-paste {{ galaxy_config_file }} --logdate --master --processes {{ galaxy_web_processes }} --threads {{ uwsgi_threads }} --logto {{ uwsgi_log }} --socket 127.0.0.1:4001 --pythonpath lib --stats 127.0.0.1:9191
directory       = {{ galaxy_server_dir }}
umask           = 022
autostart       = true
autorestart     = true
startsecs       = {{ supervisor_galaxy_startsecs }}
user            = {{ galaxy_user_name }}
environment     = PATH={{ galaxy_venv_dir }}:{{ galaxy_venv_dir }}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
numprocs        = 1
stopsignal      = INT
startretries    = {{ supervisor_galaxy_startretries }}

[program:handler]
command         = {{ galaxy_venv_dir }}/bin/python ./lib/galaxy/main.py -c {{ galaxy_config_file }} --server-name=handler%(process_num)s --log-file={{ galaxy_log_dir }}/handler%(process_num)s.log
directory       = {{ galaxy_server_dir }}
process_name    = handler%(process_num)s
numprocs        = {{ galaxy_handler_processes }}
umask           = 022
autostart       = true
autorestart     = true
startsecs       = {{ supervisor_galaxy_startsecs }}
user            = {{ galaxy_user_name }}
startretries    = {{ supervisor_galaxy_startretries }}

[group:galaxy]
programs = handler, galaxy_web
